@{
    ViewData["Title"] = "Church Movies - Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Visitors</h1>
    <p>Welcome to the Church Movies website!</p>
    <p>
        The Church Movies collection offers a variety of films that provide insights into the teachings and values of The Church of Jesus Christ of Latter-day Saints. These movies are not only beneficial for members of the Church but also for individuals from all walks of life.
        Through compelling storytelling, uplifting messages, and moral lessons, these movies aim to inspire, entertain, and improve understanding in God. Are you seeking guidance, looking for wholesome entertainment, or simply interested in exploring different perspectives? the Church Movies has something for everyone.
        Feel free to browse our movie selection, and discover the beauty and richness of these films.
    </p>
    <img src="~/main_image.jpeg" alt="Main Image" style="width: 350px; height: 350px;" />
    <p>Learn more about <a href="https://www.churchofjesuschrist.org/">The Church of Jesus Christ of Latter-day Saints</a>.</p>
</div>